/* Nav.module.css */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* 원하는 여백 설정 */
    background-color: #333; /* 네비게이션 바 배경색 설정 */
    color: white; /* 텍스트 색상 설정 */
  }
  
  .nav1 {
    display: flex;
    align-items: center;
  }
  
  .nav2 {
    display: flex;
    align-items: center;
  }
  
  .link {
    text-decoration: none; /* 링크 텍스트에 밑줄 제거 */
    color: white; /* 링크 텍스트 색상 설정 */
    background-color: blue;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0 10px; /* 링크 사이 여백 설정 */
  }
  
  .link:first-child {
    margin-left: 0; /* 첫 번째 링크의 왼쪽 여백 제거 */
  }
  